<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Summary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Summary</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
  <ion-card-header>
    <ion-card-title>Nutella</ion-card-title>  
  </ion-card-header>

  <ion-card-content>
    <ion-grid><ion-row>
      <ion-col size= "4">
        <img src="./assets/img/nutella.png"  >
      </ion-col>
      <ion-col >
        <ion-row >
          <ion-col size = "8">Co2 pro Kg: </ion-col>
          <ion-col size = "4" >--</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size = "8">Umwelt-Score: </ion-col>
          <ion-col style="color: #ff3300;">D</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size = "8">Nutri-Score: </ion-col>
          <ion-col style="color: #ff0000;">E</ion-col>
        </ion-row>
  </ion-col>
    </ion-row>
    
  </ion-grid>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Veganer Schinken Spicker mit Grillgemüse</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    
    <ion-grid><ion-row>
      <ion-col size= "5">
        <img src="./assets/img/schinken_spicker.PNG"  >
      </ion-col>
      <ion-col >
        <ion-row >
          <ion-col size = "8">Co2 pro Kg: </ion-col>
          <ion-col size = "4" style="color: #a7a40a;">1,3kg</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size = "8">Umwelt-Score: </ion-col>
          <ion-col style="color: #a7a40a;">C</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size = "8">Nutri-Score: </ion-col>
          <ion-col style="color: hsl(128, 95%, 32%);">A</ion-col>
        </ion-row>
  </ion-col>
    </ion-row>
    
  </ion-grid>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Spagel vom Hofladen</ion-card-title>
    
  </ion-card-header>
  <ion-card-content>
    
    <ion-grid><ion-row>
      <ion-col size= "4">
        <img src="./assets/img/spagel.png"  >
      </ion-col>
      <ion-col >
        <ion-row >
          <ion-col size = "8">Co2 pro Kg: </ion-col>
          <ion-col size = "4" style="color:hsl(128, 95%, 32%);">0,7kg</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size = "8">Umwelt-Score: </ion-col>
          <ion-col style="color: hsl(128, 95%, 32%);">B</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size = "8">Nutri-Score: </ion-col>
          <ion-col style="color: hsl(128, 95%, 32%);">B</ion-col>
        </ion-row>
  </ion-col>
    </ion-row>
    
  </ion-grid>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Irische Butter</ion-card-title>
    
  </ion-card-header>
  <ion-card-content>
    
    <ion-grid><ion-row>
      <ion-col size= "4">
        <img src="./assets/img/butter.png"  >
      </ion-col>
      <ion-col >
        <ion-row >
          <ion-col size = "8">Co2 pro Kg: </ion-col>
          <ion-col size = "4" style="color:#ff0000;">9,2kg</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size = "8">Umwelt-Score: </ion-col>
          <ion-col style="color: #ff0000;">E</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size = "8">Nutri-Score: </ion-col>
          <ion-col style="color: #ff0000">E</ion-col>
        </ion-row>
  </ion-col>
    </ion-row>
    
  </ion-grid>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Total</ion-card-title>
    
  </ion-card-header>
  <ion-card-content>
    
    <ion-grid><ion-row>
      <ion-col >
        <ion-row >
          <ion-col size = "8">Co2 pro Kg: </ion-col>
          <ion-col size = "4" style="color: #ff3300;">3,7kg</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size = "8">Umwelt-Score: </ion-col>
          <ion-col style="color: #a7a40a;">C</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size = "8">Nutri-Score: </ion-col>
          <ion-col style="color: #a7a40a;">C</ion-col>
        </ion-row>
  </ion-col>
    </ion-row>
    
  </ion-grid>

  </ion-card-content>
</ion-card>
</ion-content>
